@model ServiceStation.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Your shopping cart</h2>
<h4>Best products with best prices.</h4>
@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    var sci = Model.ShoppingCart.ShoppingCartItems.FirstOrDefault();
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => sci.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => sci.Product.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => sci.Product.Name)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => sci.Product.Price)
                </th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Product.Manufacturer)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td class="text-right">
                        @*@item.Product.Price.ToString("c")*@
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td class="text-right">
                        @((item.Amount * item.Product.Price).ToString("c"))
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
    </div>
}
else
{
    <h4>Your shopping cart is empty. Add some products.</h4>
}
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Shop">Go To Shop</a>
</div>

